[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
[access "refs/*"]
	owner = group cea-hpc
	owner = group user/VALERI Yoann (valeriyoann)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group cea-hpc
	label-Code-Review = -2..+2 group user/VALERI Yoann (valeriyoann)
	label-Verified = -1..+1 group cea-hpc
	label-Verified = -1..+1 group user/VALERI Yoann (valeriyoann)
	push = group cea-hpc
	push = group user/VALERI Yoann (valeriyoann)
	read = group cea-hpc
	read = group user/VALERI Yoann (valeriyoann)
	rebase = group cea-hpc
	rebase = group user/VALERI Yoann (valeriyoann)
	removeReviewer = group cea-hpc
	removeReviewer = group user/VALERI Yoann (valeriyoann)
	submit = group cea-hpc
	submit = group user/VALERI Yoann (valeriyoann)
[access "refs/heads/*"]
	create = group cea-hpc
	create = group user/VALERI Yoann (valeriyoann)
	push = group cea-hpc
	push = +force group user/VALERI Yoann (valeriyoann)
	pushMerge = group cea-hpc
	pushMerge = group user/VALERI Yoann (valeriyoann)
	read = group cea-hpc
	read = group user/VALERI Yoann (valeriyoann)
[access "refs/tags/*"]
	push = group cea-hpc
	push = group user/VALERI Yoann (valeriyoann)
	push = +force group user/VALERI Yoann (valeriyoann)
[receive]
	requireChangeId = true
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	copyCondition = is:MIN OR changekind:TRIVIAL_REBASE OR changekind:NO_CHANGE
